:root {
	--sudoku-border-bold: 2px solid #374b64;
	--sudoku-border-light: 1px solid gray;
}

table#SUDOKU {
	border-spacing: 0;
	table-layout: fixed;
	--default-size: 360px;
	width: var(--size, var(--default-size));
	height: var(--size, var(--default-size));
}

table#SUDOKU td {
	text-align: center;
	user-select: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 100%;
	font-weight: 700;
	transition-duration: 0.3s;
}

table#SUDOKU tr td:nth-child(3n) {
	border-right: var(--sudoku-border-bold);
}

table#SUDOKU tr td:first-child {
	border-left: var(--sudoku-border-bold);
}

table#SUDOKU tr:nth-child(1)>td {
	border-top: var(--sudoku-border-bold);
}

table#SUDOKU tr:nth-child(3n)>td {
	border-bottom: var(--sudoku-border-bold);
}

table#SUDOKU tr td:nth-child(3n+2) {
	border-right: var(--sudoku-border-light);
	border-left: var(--sudoku-border-light);
}

table#SUDOKU tr:nth-child(3n+2)>td {
	border-top: var(--sudoku-border-light);
	border-bottom: var(--sudoku-border-light);
}

table#SUDOKU .selected {
	background: black;
	color: aliceblue;
}

table#SUDOKU .selectedValued {
	background: #7756ff;
	color: aliceblue;
}

table#SUDOKU .highlight {
	background: lightpink;
	/* #7756ff */
}

table#SUDOKU .highlight-error {
	background-color: red;
}

td[data-square-idx="0"],
td[data-square-idx="2"],
td[data-square-idx="4"],
td[data-square-idx="6"],
td[data-square-idx="8"] {
	background: rgba(0, 0, 0, 0.05);
}